
// start form etudiant


%form-style {
    border-radius: 2px;
    background-color:  var(--white-color);
    padding: 20px;
    margin: 10% auto;
    width: 44%;

     
input,select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color:  var(--first-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover{
    background-color:  var(--first-color-hover);
  }
  
}

}
 