/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'button';
@import 'header';
@import 'table';
@import 'footer';

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --nav-width: 68px;

    /*===== Colors =====*/
    --first-color: #6C63FF;
    --first-color-hover:#6b63ffbd;
    --first-color-light: #c4c0d6;
    --white-color: #F7F6FB;

    /*===== Font and typography =====*/
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
  
    /*===== z index =====*/
    --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a{
    text-decoration: none;
}


// start insert etudiant


.insert-etu-container {
    border-radius: 2px;
    background-color:  var(--white-color);
    padding: 20px;
    margin: 10% auto;
    width: 44%;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color:  var(--first-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  input[type="submit"]:hover{
    background-color:  var(--first-color-hover);
  
    
  }
  
  