.btn-log {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    background: var(--first-color);
    &:hover {
        background: #32408f;
      }
      
  }