
/* footer */

.footer-con {
    padding: 25px 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    ul {
        padding: 0;
        list-style: none;
        font-size: 16px;
        li{
            display: inline;
            margin: 1%;
            font-size: 16px;
          }
          a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;

            &:hover{
                opacity: 1;
              }
          }
      }
      .footer-row {
        margin: 0%;
        padding: 0%;
        text-align: center;
      }

      .footer-row__1{
        flex: 25%;
      }
      .footer-row__2{
    
      flex: 50%;
      }
      .footer-row__3{
    
        flex: 25%;
      }
    
      .footer-row__3 .fab  {
        font-size: 25px;
    
      }
    
  }

  @media screen and (max-width: 700px) {
    .footer-con{
        flex-direction: column-reverse;
        .footer-row {
            flex: 90%;
        }

        .footer-row__2 {
            order: 1; 
        }
    }
  }
