
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
    caption {
        font-size: 1.5em;
        margin: .5em 0 .75em
        }
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background:var(--first-color);; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 16px;
	}

tr, td { 
	text-align: center;
	}

.table-edit-icon
{
 cursor: pointer;
//  text-align: center;
}
.table-trash-icon
{
cursor: pointer;
//  text-align: center;
}


@media 
only screen and (max-width: 1040px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
 

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}