/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'mainroot';
@import 'button';
@import 'header';
@import 'table';
@import 'footer';
@import 'formStyle';




// start style 
 
.support-bg{
    display: flex;
    flex-direction: row;
    background-image: url("../img/background/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
    padding-left: 100px;
    padding-top: 33px;
    height:auto;
    


.arobas {
    display:flex;
}    
  
.home-icon {
    display: flex;

}  

h2{
    font-size: 38px;
    
    
}    
p{
    font-size:18px;
    margin-left:60px;
    font-weight:500;

}


}
 
.contact-bg{
    display:flex;
    flex-direction:row;
    background-image: url("../img/background/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   


    .contact-pic{
        margin-top:auto;
        margin-left:220px;
    }   
}

.contact-form{
    @extend %form-style;
    text-align: center;
    background-color: var(--first-color);
    margin: 10% 0% 10% 10%;
    flex:60%;
    width:80%; 
    h2{
        text-align: center;
        color: white;
    } 
    input[type=text]{
        width: 49%;
    }
    input[type=submit]{
        background-color: white;
        border-radius: 50px;
        width: 120px;
       
        color: #c4c0d6;
        &:hover{
            background-color: black;
            color: white;
        }
    
    }
}


.name{
float: left;
}
.prenom{
float: right;
}




@media only screen and (max-width: 1000px){
    .bg-image{
        background-image: url("../img/background/background2.png");
        background-size: cover;
        .support-bg{
            background-image: none;
            padding: 0;
            margin: 0;
            justify-content: center;
            p {
                font-size: 16px;
             margin-left: 20px;
            }
            h2 {
                font-size: 26px;
                text-align: center;
            }
        
            .contact-bg {
                .arobas img{
                    max-width: 60%;
                }    
                  
                .home-icon img{
                    max-width: 60%;
                
                }
            }
            .info-bg{
                display: none;
        
            }
        }
        
    }


.contact-bg{ 
       background-image: none;
       margin: 0%;
       .contact-form {
           flex:none;
           width: 85%;
           margin: 10% auto;

       }
        .contact-pic{
        display: none;
    }
}


}

