/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'mainroot';
@import 'button';
@import 'header';
@import 'table';
@import 'footer';



// start style 
 
.bg-image{
    background-image: url("../img/background/background.png");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    
}