/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'mainroot';
@import 'button';
@import 'header';
@import 'table';
@import 'footer';

  .etu-cart
  {
      display: flex;
      width: 60%;
      background-color: #F5F5F5;
      align-items :center;
      margin: 0 auto;
  }

  .etu-cart .etu-avatar {
      flex: 40%;
  }
  .etu-cart .etu-avatar img{
      max-width: 65%;
      margin: 10% ;
      
  }

  .etu-cart .etu-content{
      flex: 60%;
  }

  @media only screen and (max-width: 1040px){
    @media screen and (max-width: 1000px) {
        .etu-cart {
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
        }
        .etu-avatar {
            flex: 100%;
        }
      
        .etu-avatar img {
            max-width: 100%;
          }
          
          .etu-content {
          flex: 100%;
        }
      
      }
  }

.title-sec {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    margin-top: 9%;
    text-align: center;
    }