/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'mainroot';
@import 'button';
@import 'header';
@import 'table';
@import 'footer';
@import 'formStyle';

.insert-abs-container,.insert-note-container{
  @extend %form-style;
}


@media screen and (max-width: 800px) {
  .insert-abs-container,.insert-note-container{
    width: 100%;
    margin-top: 2px;
  }

}
