/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'mainroot';
@import 'button';
@import 'header';
@import 'table';
@import 'footer';
@import 'formStyle';

.insert-sea-container{
  @extend %form-style;
}

// #btn{
//     @extend .btn-log;
//     width: 20%;
// }

@media screen and (max-width: 800px) {
  .insert-sea-container{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
  }

}
