/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'mainroot';
@import 'button';
@import 'header';
@import 'table';
@import 'footer';
@import 'formStyle';

.msg {
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  width: 70%;
  text-align: center;
}


.insert-etu-container{
  @extend %form-style;
}

@media screen and (max-width: 800px) {
  .insert-etu-container{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
  }

}

