/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
.btn-log {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: white;
  background: var(--first-color);
}

.btn-log:hover {
  background: var(--first-color-hover);
}

.form-container .logo-form .login-form {
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 20px;
  margin: 10% auto;
  width: 60%;
}

.form-container .logo-form .login-form input, .form-container .logo-form .login-form select, .form-container .logo-form .login-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.form-container .logo-form .login-form input[type="submit"] {
  background-color: var(--first-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .logo-form .login-form input[type="submit"]:hover {
  background-color: var(--first-color-hover);
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.logo-bg-display {
  display: none;
}

.login-bg img {
  max-width: 65%;
  position: absolute;
  z-index: -1;
}

.form-container {
  display: flex;
}

.form-container .space {
  flex: 50%;
}

.form-container .logo-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 50%;
  width: 40vw;
  height: Auto;
}

.form-container .logo-form .logo {
  align-self: center;
}

.form-container .logo-form .logo img {
  max-width: 65%;
}

.form-container .logo-form .login-form {
  background-color: #F5F5F5;
  width: 46vw;
  margin: 0;
  padding: 30px;
  text-align: center;
}

.form-container .logo-form .login-form h2 {
  text-align: left;
}

.form-container .logo-form .login-form input {
  width: 70%;
}

.form-container .logo-form .login-form label {
  margin-right: 10%;
}

.form-container .logo-form .login-form input[type=submit] {
  background-color: #6C63FF;
  color: #F7F6FB;
  border-radius: 50px;
  margin-top: 20px;
  width: 120px;
}

.form-container .logo-form .login-form input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .logo-bg-display {
    display: flex;
    justify-content: center;
  }
  .logo-bg-display img {
    max-width: 60%;
  }
  .login-bg img {
    display: none;
  }
  .form-container .space {
    display: none;
  }
  .form-container .logo-form .login-form {
    width: auto;
    align-self: center;
    margin-bottom: 5%;
    padding: 2%;
  }
  .form-container .logo-form .login-form input {
    width: 80%;
  }
  .form-container .logo-form .login-form label {
    display: none;
  }
  .form-container .logo-form .login-form input[type=submit] {
    width: 120px;
  }
  .form-container .logo-form .logo {
    display: none;
  }
}
/*# sourceMappingURL=login.css.map */