.valid {
    border-color: #36cc36;
}
.invalid {border-color:orange}

input + p {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    color: rgb(255, 0, 0);
    opacity: 0;
    height: 0;
}
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}